[submodule "third-party/tf-a"]
	path = third-party/tf-a
	url = https://git.trustedfirmware.org/TF-A/trusted-firmware-a.git
	branch = master
[submodule "third-party/tf-rmm"]
	path = third-party/tf-rmm
	url = https://git.trustedfirmware.org/TF-RMM/tf-rmm.git
